//? Digerati colors
$digerati_red: #de3723;
$sonelgaz_blue: #2189ca;
$sonelgaz_orange_light: #ffb30b;
$sonelgaz_orange_dark: #f36a3e;

//? ASC Colors
$asc_darker: #0b023e;
$asc_dark: #100756;
$asc_aqua: #20b1d2;
$asc_green: #00c4c4;
$asc_pink: #eb8eea;
$av_yellow: #fd7e14;

//? external colors
$google_blue: #4285f4;

//? other colors
$blue: #3813c2;
$blue_dark: #140365;
$blue_darker: #121559;
$dark: #06163a;
$pink: #f20487;
$light: #d8d8d8;
$default: #574a66;
$default_1: #425466;
$text: #0a2540;
$yellow: #ffa854;
$red: #fc4668;
$bg_1: #f0efe9;
$bg_2: #f6f9fc;
$bg_3: #d5dbe1;

//! color for icons
//! #80e9ff
//! #7a73ff
//! #0048e5
