<div class="welcome-screen">
  <div class="welcome-screen-container">
    <div class="logo-container" [class.move-to-top-anim-1]="moveToTopAnim1">
      <h1 class="___hidden welcome-title welcome-title--ar delay-250ms">
        سونلغاز
      </h1>
      <div class="h-5"></div>

      <div class="flex">
        <img
          class="___hidden"
          src="../../../assets/img/logo-sonelgaz-without-text.png"
          alt=""
        />
      </div>

      <div class="h-5"></div>
      <h1 class="___hidden welcome-title">Sonelgaz</h1>
      <div class="h-50"></div>

      <h1 class="___hidden delay-2350ms big-welcome-title">
        Welcome to sonelgaz <span>Login now !</span>
      </h1>

      <div class="h-15"></div>

      <p-floatlabel class="___hidden delay-2450ms" variant="in">
        <input
          pInputText
          id="value2"
          [(ngModel)]="loginData.email"
          autocomplete="off"
        />
        <label for="value2">Email</label>
      </p-floatlabel>

      <div class="h-15"></div>

      <p-floatlabel class="___hidden delay-2550ms relative" variant="in">
        <p-password
          [(ngModel)]="loginData.password"
          [toggleMask]="true"
          [feedback]="false"
        />
        <label for="value2">Password</label>
      </p-floatlabel>

      <div class="h-40"></div>
      <div class="h-5"></div>

      <!--  -->
      <div class="___hidden delay-2650ms flex">
        <p-button
          class="auth-button"
          (onClick)="redirectToMfa()"
          label="Login"
        />
      </div>

      <div class="h-10"></div>

      <div class="___hidden line">
        <div class="line-inside"></div>
        <span>Or</span>
        <div class="line-inside"></div>
      </div>

      <div class="h-10"></div>

      <div class="___hidden delay-2800ms flex">
        <p-button class="auth-button auth-button--white" label="Register" />
      </div>
    </div>
  </div>

  <div class="branding">
    <p class="___hidden">&#169; Sonelgaz - {{ currentYear }}</p>

    <img
      class="___hidden"
      src="../../../assets/img/logo-sonelgaz-white.png"
      alt=""
    />
  </div>
</div>
