/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@use "./include/scss/color" as color;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./include/scss/auth.scss";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

$sub-page-header-val: 100px;

html,
body {
  scroll-behavior: smooth !important;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
button,
select,
textarea {
  font-family: "Poppins", sans-serif !important;
}

* {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.h-1 {
  height: 1px;
}

.h-2 {
  height: 2px;
}

.h-5 {
  height: 5px;
}

.h-10 {
  height: 10px;
}

.h-15 {
  height: 15px;
}

.h-20 {
  height: 20px;
}

.h-30 {
  height: 30px;
}

.h-40 {
  height: 40px;
}

.h-50 {
  height: 50px;
}

.gap-10 {
  gap: 10px;
}

.relative {
  position: relative;
}

.padding-10-20 {
  padding: 10px 20px !important;
}

.padding-0-20 {
  padding: 0 20px !important;
}

.justify-content-space-between {
  justify-content: space-between;
}

ion-header {
  height: 88px;
  position: fixed;
  width: calc(100% + 2px);
  inset: -1px 0px auto -1px;
  background: color.$blue_darker;
  display: flex;

  .header {
    width: 90%;
    margin: auto auto 0 auto;
    height: 64px;
    display: flex;
    background: color.$blue_darker;

    .asc-logo-header {
      height: 45px;
      margin: auto auto auto 15px;
    }

    button {
      width: 32px;
      height: 32px;
      display: flex;
      margin: auto 15px auto auto;
      border-radius: 50%;
      background: rgba(white, 0.1);

      ion-icon {
        margin: auto;
        width: 21px;
        height: 21px;
        color: white;
      }
    }
  }
}
.exit-button {
  width: 32px !important;
  height: 32px !important;
  border-radius: 8px;
  padding: 0 !important;
  background: white;

  ion-icon {
    margin: auto;
    font-size: 26px;
    color: color.$sonelgaz_blue;
  }
}

.lang-button {
  padding: 7px 15px 7px 10px;
  display: flex;
  gap: 5px;
  border-radius: 8px;
  border: 1px solid color.$sonelgaz_blue;
  background: white;

  ion-icon,
  span {
    margin: auto 0;
    color: color.$sonelgaz_blue;
  }

  ion-icon {
    font-size: 16px;
  }

  span {
    font-size: 14px;
    font-weight: 500;
  }
}

.status-bar {
  height: 40px;
  background: white;
}

.main-button-item {
  margin: auto;
  background: white;
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;

  .icon-container {
    margin: auto;
    width: 45px;
    height: 45px;
    background: linear-gradient(
      135deg,
      rgba(color.$sonelgaz_blue, 1) 0%,
      rgba(color.$sonelgaz_orange_light, 1) 100%
    );
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(black, 0.25) 0px 5px 15px;

    .icon-content {
      margin: auto;
      width: 42px;
      height: 42px;
      display: flex;
      background: white;
      border-radius: 50%;

      ion-icon {
        margin: auto;
        font-size: 24px;
        color: color.$sonelgaz_blue;
      }

      svg {
        width: 29px;
        height: 29px;
        margin: auto;
        fill: color.$sonelgaz_blue;
      }
    }
  }

  .button-container {
    margin: auto;
    background: linear-gradient(
      90deg,
      rgba(color.$sonelgaz_blue, 1) 0%,
      rgba(color.$sonelgaz_orange_light, 1) 100%
    );
    border-radius: 40px;
    height: 45px;
    flex: 1;
    max-width: 250px;
    min-width: 150px;

    .button-container-content {
      margin: auto;
      background: white;
      height: 41px;
      width: calc(100% - 4px);
      border-radius: 40px;
      display: flex;

      span {
        margin: auto;
        color: color.$sonelgaz_blue;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .button-container--reversed {
    background: linear-gradient(
      -90deg,
      rgba(color.$sonelgaz_blue, 1) 0%,
      rgba(color.$sonelgaz_orange_light, 1) 100%
    ) !important;
  }
}

.main-list-bottom-animation-container {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  display: flex;
  overflow: hidden;

  .main-list-bottom-animation-content {
    position: relative;
    width: 100%;
    svg {
      margin: auto 0 -4px 0;
    }

    img {
      position: absolute;
      height: 70px;
      inset: auto 10px 10px auto;
    }

    .absolute-text-container {
      position: absolute;
      inset: auto 0 10px 0;
      display: flex;

      p {
        font-size: 14px;
        margin: auto;
        color: white;
        font-weight: 600;
      }
    }
  }
}

.sub-page {
  width: 100%;
  height: 100%;

  .sub-page-header {
    height: $sub-page-header-val;
    background: linear-gradient(
      0deg,
      rgba(color.$sonelgaz_orange_light, 1) 0%,
      rgba(color.$sonelgaz_orange_dark, 1) 100%
    );

    .sub-page-header-action {
      position: absolute;
      display: flex;
      top: 40px;
      width: 100%;

      .go-back-button {
        width: fit-content;
        height: 40px;
        background: transparent;
        margin-left: 20px;
        margin: auto auto auto 15px;
        display: flex;
        gap: 10px;

        ion-icon {
          font-size: 24px;
          color: white;
          margin: auto 0;
        }

        span {
          margin: auto 0;
          color: white;
          font-size: 18px;
          font-weight: 500;
        }
      }

      .mini-logo {
        margin-right: 20px;

        img {
          width: 50px;
        }
      }
    }
  }

  .sub-page-body {
    background: white;
    height: calc(100% - $sub-page-header-val);
    overflow: hidden scroll;

    .bill-list {
      height: 100px;
      margin-top: 0 !important;

      .bill-item {
        padding: 10px 20px;
        background: white;
        margin-bottom: 12px;
        height: 100px;
        box-shadow: rgba(black, 0.05) 0px 6px 24px 0px,
          rgba(black, 0.08) 0px 0px 0px 1px;
      }
    }
  }
}
